@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-theme-orange: #ff8c00;
  --color-theme-teal: #40e0d0;
  --color-theme-lightGray: #f5f5f5;
  --color-theme-charcoal: #212121;
  --color-theme-white: #ffffff;
  --color-theme-charcoalBlue: #364156;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
